extends layout

block content
  .row
    .col-md-12
      main
        .jumbotron
          h1.jumbotron-heading.mt-3 About Us
          p.lead My-Sat is an online platform for the sale of satellite products and satellite services. Products are ordered and deliveries are made to the customer's doorstep before payments are made. Products ordered within Tamale and its sub-villages are paid exactly as the price seen on the site. Customers who are a bit distanced from Tamale will have to pay for transport if the number of products ordered does not match the agreed quantity.
          p.lead This site also runs services for customers who want to set up their satellite for the first time, ranging from indoor (mounting of TV) to outdoor (mounting of satellite dishes), or who have issues with their already set up satellites.
          p.lead This site also has useful resources for old and new satellite installers. Under the 'track satellite' link, there are resources to guide installers.

  // Contributors Section
  .text-center.contributors.mt-3
    h2 CONTRIBUTORS
  hr

  .author
    .row
      .col-md-4.text-center.mt-3
        img.img-fluid.rounded.contributor-image(src="/images/hafiz.jpg", alt="contributor's Picture")
        h5 Ibrahim Mohammed Hafiz
        h6 (Marketing Manager)
      
      .col-md-4.text-center.mt-3
        img.img-fluid.rounded.contributor-image(src="/images/sudika.jpg", alt="contributor's Picture")
        h5 Dawuda Sudika
        h6 (Marketing Manager)

      .col-md-4.text-center.mt-3
        img.img-fluid.rounded.contributor-image(src="/images/author-image.jpg", alt="contributor's Picture")
        h5 Iddrisu Ibrahim Chenti
        h6 (Software Engineer)