extends admin_layout

block content
    h1 Add New Frequency

    form(action="/my-sat/frequency/create" method="POST")
      .mb-3
        label(for="frequency") Frequency:
        input#frequency.form-control(type="text" name="frequency" required)
      .mb-3
        label(for="channels") Channels (comma-separated):
        input#channels.form-control(type="text" name="channels" required)
      .mb-3
        label(for="satelliteName") Satellite:
        select#satelliteName.form-select(name="satelliteName" required)
          each sat in satellite
            option(value=sat.name) #{sat.name}

      button.btn.btn-primary(type="submit") Submit
