extends admin_layout

block content
    h1 Delete Product
    p Are you sure you want to delete the product "#{product.title}"?
    form(action=`/my-sat/product/${product._id}/delete` method="POST")
      button.btn.btn-danger(type="submit") Yes, Delete
      a.btn.btn-secondary(href="/my-sat/manage_products") Cancel
