extends admin_layout

block content
    h1 Delete Satellite
    p Are you sure you want to delete the satellite "#{satellite.name}"?
    form(action=`/my-sat/satellite/${satellite._id}/delete` method="POST")
      button.btn.btn-danger(type="submit") Yes, Delete
      a.btn.btn-secondary(href="/my-sat/manage_satellites") Cancel
